extra-tests/flows/Extra_Tests_Attempt_Base_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Concatenate</name>
        <label>Concat Revision Number</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>AuthorizationForm</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>RevisionNumber</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>AuthForms</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <stringValue>CONCAT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Auth_Form_To_Collection</name>
        <label>Add Auth Form To Collection</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>AuthForms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concatenate</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Extra-Tests Attempt Base Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extra-Tests Attempt Base Rollup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Auth_Form_To_Collection</targetReference>
        </connector>
        <object>AuthorizationForm</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AuthForms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AuthorizationForm</objectType>
    </variables>
</Flow>
