extra-tests/flows/Rollup_Integration_refresh_on_delete_clears_value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Perform_Rollup</name>
        <label>Perform Rollup</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>ContactRequest</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>ContactRequest</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>WhatId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>RecordsToRollup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>DELETE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>AnnualRevenue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <stringValue>COUNT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Rollup</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_deleted_record_to_collection</name>
        <label>Add deleted record to collection</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>RecordsToRollup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Perform_Rollup</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Rollup Integration - REFRESH on delete clears value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Integration - refresh on delete clears value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_deleted_record_to_collection</targetReference>
        </connector>
        <object>ContactRequest</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordsToRollup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactRequest</objectType>
    </variables>
</Flow>
