extra-tests/flows/Rollup_Integration_Clear_Lookup_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ROLL_UP</name>
        <label>ROLL UP</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>ContactPointEmail</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>ContactPointEmail</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>PreferenceRank</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>ParentId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deferProcessing</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>OldRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>Records</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>AnnualRevenue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>UPSERT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Records_To_Collections</name>
        <label>Add Records To Collections</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ROLL_UP</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Rollup Integration Clear Lookup Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Integration Clear Lookup Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Records_To_Collections</targetReference>
        </connector>
        <object>ContactPointEmail</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <name>OldRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
</Flow>
