extra-tests/flows/Rollup_Integration_Multiple_Deferred_Case_Rollups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_matching_description_to_Site</name>
        <label>Add matching description to Site</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Commit_deferred_rollups</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>PriorCases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <stringValue>CONCAT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>REFRESH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calcItemWhereClause</name>
            <value>
                <stringValue>Description = &apos;Name Match&apos; AND Subject = &apos;Refresh Test&apos;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Commit_deferred_rollups</name>
        <label>Commit deferred rollups</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <actionName>RollupFlowBulkSaver</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Count_Cases</name>
        <label>Count Cases</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_matching_description_to_Site</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deferProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>PriorCases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>NumberOfEmployees</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <stringValue>COUNT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>UPSERT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rollup_Case_Description_To_Account_Description</name>
        <label>Concat Case Description To Account Description</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Rollup_Last_Name</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deferProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>PriorCases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>Description</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <stringValue>CONCAT_DISTINCT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>UPSERT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rollup_Last_Name</name>
        <label>Rollup Last Name</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Cases</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>Subject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deferProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>PriorCases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <stringValue>LAST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>UPSERT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_case_and_prior_case_to_collections</name>
        <label>Add case and prior case to collections</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollup_Case_Description_To_Account_Description</targetReference>
        </connector>
    </assignments>
    <description>Record Triggered flow for Cases to be included in Rollup extra-tests deploy</description>
    <environments>Default</environments>
    <interviewLabel>Rollup Integration - Multiple Deferred Case Rollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Integration - Multiple Deferred Case Rollups</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_case_and_prior_case_to_collections</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PriorCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
