extra-tests/flows/Rollup_Integration_Parent_Where_Clause_Filtering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Assigns the last phone number to the Account&apos;s Phone field</description>
        <name>Add_LAST_Phone</name>
        <label>Add LAST Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Rollup</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rollupFieldOnCalcItem</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnCalcItem</name>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>OldContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderByFirstLast</name>
            <value>
                <stringValue>LastName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>Contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupSObjectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupFieldOnOpObject</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldOnOpObject</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupOperation</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue>LAST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue>UPSERT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>calcItemWhereClause</name>
            <value>
                <stringValue>Account.Name = &apos;Test Parent Fields&apos;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Rollup</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collections</name>
        <label>Add to collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LAST_Phone</targetReference>
        </connector>
    </assignments>
    <description>This test ensures that filtering on parent fields works from within Flow</description>
    <interviewLabel>Rollup Integration - Parent Where Clause Filtering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Integration - Parent Where Clause Filtering</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_to_collections</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OldContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
